/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primaryBackground: #100f14;
    --greyColor: #1e1e1e;
    --poppinsFont: "Aldrich", sans-serif;
    --liFonts: 18px;
    --fontColor: #293943;
    --blueBlackColor: rgb(17, 16, 19);
}

body {
    color: #fff;
    background: var(--primaryBackground);
    font-family: var(--poppinsFont);
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    /* border: 4px green solid; */
    padding: 10px;
}

.nav-container {
    width: 100%;
    height: 15vh;
    background-color: var(--primaryBackground);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inlineBlock {
    display: flex;
    list-style-type: none;
}

/* .inputBox{
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: var(--greyColor);
    font-weight: bold;
    font-size: 18px;
    padding: 0px 0px 0px 15px;
} */

.liFonts {
    font-size: var(--liFonts);
    color: rgb(17, 16, 19);
}



/* start main contents */

/* list of days */
.section1 .inlineBlock li {
    margin-left: 20px;
    cursor: pointer;
}

/* end of list of days */

/* info content */
.info {
    width: 200px;
    height: 200px;
    background-color: #bcd8ed;
    border-radius: 30px;
}

.dayAndTime {
    width: 100%;
    height: 60px;
    background-color: #aecadf;
    border-radius: 30px 30px 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.days {
    width: 100px;
    background: #1b1b1d;
}

.weekDays {
    width: 100%;
    height: 60px;
    background-color: #1b1b1d;
    border-radius: 30px 30px 0 0px;
    border-bottom: #444 1px solid;
}

.container .info .dayAndTime ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.degAndDesc {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    padding: 10px;
    margin: -20px 0 0 16px;
    font-size: 24px;
}

.iconsImg {
    width: 90px;
    height: auto;
}

.container .info .degAndDesc ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    color: var(--blueBlackColor);
}

.descriptionInfo {
    display: grid;
    margin-left: 20px;
    justify-content: space-between;
    font-size: 10px;
    margin-top: -20px;
    color: var(--fontColor);
}

.descriptionInfo span {
    color: var(--blueBlackColor);
}

.weekDays {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.otherDays ul {
    display: grid;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: -15px 0 0 0;
    text-align: center;
}


/* end of info content */


/* end of main contents */


/* Dark and Light mode */
.mode1{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background: var(--greyColor);
}

.circleChange{
    width: 50px;
    height: 50px;
    background: #aecadf;
    border-radius: 25px;
    margin-left: 50px;
}


/* end of Dark and Light mode */



/* Ulugbek Nav design */


/* style-nav */
.nav-container {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #ccc; */
}


/* style for elements on it  */
.nav-elements {
    flex-basis: 20%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid yellowgreen; */

}



.item_left {
    width: auto;
    text-align: left;

}

.item_left span {
    font-weight: 600;
}

.item_center {
    flex-basis: 60%;
}

.item_right {
    display: flex;
    width: 20vmax;
    justify-content: center;
    align-items: center;


}

.nav-icon1 {
    padding-right: 10px;

}

.nav-search {
    display: flex;
    align-items: center;

}

.nav-search .search_button {
    background-color: #1e1e1d;
    border-radius: 0 25px 25px 0;
    height: 50px;
    width: 5vw;
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    /* padding-right: 30px; */

}

/* Night/Light mode switch style */
.turn_on {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--greyColor);
    border-radius: 25px;
    height: 50px;
    width: 100px;
    padding: 0 8px 0 8px;
    position: relative;
    cursor: pointer;

}

.turn_on::after {
    content: "";
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #aecadf;
    padding: 0;
    margin: 0;



}

/* changing the night/light mode */
.turn_off::before {
    content: "";
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #aecadf;
    padding: 0;
    margin: 0;


}

.mode {
    height: 32px;
    z-index: 111;

}


/* Languages options style */
.language {
    display: flex;
    cursor: pointer;
    align-items: center;
}


/* search bar style */
.inputBox {
    width: 40vw;
    height: 50px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: var(--greyColor);
    font-weight: bold;
    font-size: 18px;
    color: #ccc;
    padding: 0px 0px 0px 15px;
}

.inputBox:focus {
    outline: none;
}

input::placeholder {
    font-size: 15px;
    font-weight: 200;
    font-family: "Aldrich", sans-serif;
}

.nav_icon2 {
    transform: scale(0.7);
}

/* Turabek aka part */

/*name of Two big main*/
.two-mains-name {
    padding: 0;
    padding-top: 10px;
    display: flex;
    margin: 0 auto;
    width: 90%;
    gap: 40px;
    align-items: center;

}

.google-map-heading {
    width: 73%;
    display: flex;
    /* changes */
    justify-content: space-between;
    align-items: center;
    /* here */
    padding: 0 10px;
}

.google-map-heading a,
.large-cities-heading a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7)
}

.google-map-heading a {
    height: 30px;
    width: 100px;
    /* changes */
    display: flex;
    justify-content: center;
    align-items: center;
    /* herer */
    text-align: center;
    border-radius: 15px;

    background: var(--greyColor);
}

.large-cities-heading {
    display: flex;
    width: 300px;
    justify-content: space-between;
}




/*Secon-main*/
.second-main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    max-width: 1280px;
    margin-top: 10px;
    width: 90%;
    height: 400px;
    /* border: 2px green solid; */
}

.google-map {
    width: 100%;
    height: 332px;
    /* border: 2px red solid; */
    border-radius: 30px;
    outline: none;

}

.large-cities {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 40px;
    width: 400px;
    height: 400px;
    border-radius: 30px;

}


.cities2 {
    background: #1b1b1b;
    display: flex;
    width: 300px;
    height: 100px;
    /* border: 2px gold solid; */
    border-radius: 30px;
}

.texts {
    margin-left: 25px;

}

.texts ul li {
    list-style-type: none;
    margin-top: 8px;
}

.img-degreee {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.iconsImg2 {
    width: 70px;
    height: auto;
}

.texts ul li p {
    color: var(--fontColor);
}

.texts ul li h5 {
    opacity: 0.5;
}

.img-degreee h4 {
    margin-left: 15px;
    font-size: 20px;
}




