/* Font Family Link */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    
}

:root {
    --primaryBackground: #0d0c10;
    --main--background: #aecadf;
    --secondary-blue: #bcd8ed;
    --whitish-color: #fdfdfd;
    --greyColor: rgba(0, 0, 0, .4);
    --aldrichFont: "Aldrich", sans-serif;
    --liFonts: 18px;
    --transparent_white: rgba(255, 255, 255, 0.5);
    --transparent_white_lighter: rgba(255, 255, 255, 0.15);
    --days-background: rgba(2, 0, 0, .5);
    --fontColorPrimary: #ffffff;
    --fontColor: #293943;
    --shadow-main: rgb(0, 166, 255);
    --blueBlackColor: rgb(17, 16, 19);
}

body {
    color: var(--fontColorPrimary);
    background: var(--primaryBackground);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--aldrichFont);

}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;

    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    padding: 10px;
}

.inlineBlock {
    display: flex;
    list-style-type: none;
}

.checked {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--greyColor);
}

.checked:hover,
#checked_color:hover {
    color: rgb(17, 0, 254) !important;
}

#checked_color {
    background-color: var(--main--background);
    color: var(--greyColor);
}



.liFonts {
    font-size: var(--liFonts);
    color: var(--blueBlackColor);
}



/* start main contents */

/* list of days */
.section1 .inlineBlock li {
    margin-left: 20px;
    cursor: pointer;
}

/* end of list of days */

/* info content */
.info {
    text-align: center;
    height: 200px;
    background-color: var(--secondary-blue);
    border-radius: 30px;
    width: 17.1875%;
}

.today_info {
    min-width: 170px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.today_info:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px;
}

.dayAndTime {
    padding: 10px;
    width: 100%;
    height: 60px;
    background-color: var(--main--background);
    border-radius: 30px 30px 0 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1.56%;
}

.days {
    width: 7.8125%;
    min-width: 70px;
    background: var(--days-background);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.days:hover,
.cities2:hover {
    transform: translate(0, -10px);
    box-shadow: 0 5px 15px var(--shadow-main);
}

.weekDays {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px 30px 0 0px;
    border-bottom: #444 1px solid;

}

.container .info .dayAndTime ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.quiz_redirection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    overflow: hidden;
    flex-basis: 26.56%;
    height: 200px;
    border-radius: 30px;
    background-color: var(--main--background);
    box-shadow: 0px 2px 15px 2px rgb(135, 10, 135);
    border: 1px solid var(--whitish-color);
    padding: 20px;
    animation: shadow-scale 1s infinite;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.quiz_redirection:hover {
    transform: scale(0.98);
}

@keyframes shadow-scale {
    0% {
        box-shadow: 0px 2px 15px 2px rgb(135, 10, 135);
    }

    50% {
        box-shadow: 0px 4px 25px 4px rgb(135, 10, 135);
    }

    100% {
        box-shadow: 0px 2px 15px 2px rgb(135, 10, 135);
    }
}

.purpleColor {
    color: purple;
}


.quiz_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.animated_image {
    height: 65%;
    width: 90%;
}

.quiz_heading p {
    text-align: center;
    font-style: oblique;
    height: 25%;
    font-size: 2.1rem;
}


.degAndDesc {

    margin: 0 auto;
    width: 90%;
    padding: 10px;
    margin: -20px 0 0 16px;
    font-size: 24px;
}

.iconsImg {
    width: 90px;
    height: auto;
}

.container .info .degAndDesc ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    color: var(--blueBlackColor);
}

.descriptionInfo {
    display: grid;
    margin-left: 20px;
    justify-content: space-between;
    font-size: 10px;
    margin-top: -20px;
    color: var(--fontColor);
}

.descriptionInfo span {
    color: var(--blueBlackColor);
}

.weekDays {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.otherDays ul {
    display: grid;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: -15px 0 0 0;
    text-align: center;
}




/* end of info content */


/* end of main contents */


/* Dark and Light mode */
.mode {
    /* width: 100px;
    height: 50px; */
    /* border-radius: 25px; */
    /* background: var(--greyColor); */
}

.circleChange {
    width: 50px;
    height: 50px;
    background: var(--main--background);
    border-radius: 25px;
    margin-left: 50px;
}


/* end of Dark and Light mode */





/* style-nav */
.nav-container {
    padding-top: 40px;
    display: flex;
    margin: 0 auto;
    gap: 1%;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* style for elements on it  */
.navElements {
    flex-basis: 20%;
    height: 50px;
    display: flex;

    align-items: center;
}

.item_left {
    width: auto;
    text-align: left;
}

.item_left span {
    font-weight: 600;
}



.item_right {
    display: flex;
    width: 20vmax;
    justify-content: center;
    align-items: center;
}

.nav-icon1 {
    padding-right: 10px;
}

.nav-search {
    display: flex;
    align-items: center;
}

.search-box {
    position: relative;
}

.suggestions {
    list-style-type: none;
    position: absolute;
    width: 95%;
    top: 100%;
    left: 15px;
    background-color: var(--greyColor);
    border-radius: 0 0px 15px 15px;
    padding: 5px 10px 5px 20px;
    z-index: 999;
    max-height: 150px;
    overflow-y: auto; 
}

.suggestions li {
    cursor: pointer;
}

.suggestions li:hover {
    color: rgb(0, 229, 255);
}

.nav-search .search_button {
    background-color: var(--greyColor);
    border-radius: 0 25px 25px 0;
    height: 50px;
    width: 5vw;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-left: 1px solid #444;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--secondary-blue);
}

.nav-search .search_button:hover {
    background-color: #444;
}







/* search bar style */
.inputBox {
    width: 35vw;
    height: 50px;
    border: none;
    border-radius: 25px 0 0 25px;
    background-color: var(--greyColor);
    font-weight: bold;
    font-size: 18px;
    color: var(--whitish-color);
    padding: 0px 0px 0px 15px;
    border: 1px solid var(--secondary-blue);
}

.inputBox:focus {
    outline: none;
}

input::placeholder {
    font-size: 15px;
    font-weight: 200;
    font-family: "Aldrich", sans-serif;
}

.nav_icon2 {
    cursor: pointer;
    transform: scale(0.7);
}

a {
    text-decoration: none;
    color: #fff;
}

/*name of Two big main*/
.two-mains-name {
    padding: 0;
    padding-top: 10px;
    display: flex;
    margin: 0 auto;
    width: 90%;
    gap: 40px;
    align-items: center;

}

.google-map-heading {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    gap: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.google-map-heading a,
.large-cities-heading a {
    text-decoration: none;
    color: var(--transparent_white);
}

.google-map-heading a {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;

    background: var(--greyColor);
}

.google-map-heading a:hover {
    color: var(--shadow-main);
}

.large-cities-heading {
    display: flex;
    height: 30px;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}




/*Secon-main*/
.second-main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    max-width: 1280px;
    margin-top: 10px;
    width: 90%;
    height: 400px;
    gap: 20px;
}

.google-map {
    width: 92%;
    height: 100%;
    border-radius: 30px;
    outline: none;
}

iframe:hover {
    transform: scale(0.98);
}

.large-cities {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    height: 100%;
    border-radius: 30px;

}


.cities2 {
    background: var(--days-background);
    display: flex;
    width: 305;
    height: 102.8px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.texts {
    margin-left: 25px;

}

.texts ul li {
    list-style-type: none;
    margin-top: 8px;
}

.img-degreee {
    display: flex;
    flex-direction: column;
    margin-left: 90px;
}

.iconsImg2 {
    width: 70px;
    height: auto;
}

.texts ul li p {
    color: var(--fontColor);
}

.texts ul li h5 {
    opacity: 0.5;
}

.img-degreee h4 {
    margin-left: 15px;
    font-size: 20px;
}




/* Footer section  */

.footer {
    margin: 0;
    padding: 0 20px;
    display: flex;
    background: var(--greyColor);
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-radius: 30px 30px 0 0;
}

.footer-elements {
    text-align: center;
}

.footer-elements img {
    height: 28%;
    width: 28%;

}




/* popup page css */

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.overlay_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.overlay_img img {
    border-radius: 30px;
}

.overlay_img figure {
    position: relative;
}

.overlay_img figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 20px;
    width: 100%;
    height: 50px;
    background: var(--transparent_white_lighter);
    border-radius: 0 0 30px 30px;
    margin: auto 0;
}

figure>img {
    width: 100%;

}

.overlay_button {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.overlay_button button {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: var(--main--background);
}

.overlay_button button:hover {
    background: greenyellow;
}



/* responsive design for tablets */
@media only screen and (max-width: 978px) {

    .container,
    .second-main {
        transform: scale(0.9);
    }

    .navElements,
    .inputBox,
    .nav-search .search_button {
        height: 40px;

    }

    .navElements #currentCity {
        font-size: 14px;
    }

    .checked,
    .checked_color {
        width: 100px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 4%;
    }

    .mode {
        flex-basis: 15%;
        height: 0;
        width: 0;
        

    }

    .circleChange {
        height: 25px;
        width: 25px;


    }

    .days {
        order: 2;
        flex-basis: 13.3%;
        margin-top: 30px;
    }

    .liFonts {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 70%;

    }

    .liFonts li {
        flex-basis: 40%;
        font-size: 25px;
    }

    .nav_icon2 {
        transform: scale(0.5);
    }

    .today_info {
        flex-basis: 65%;
        order: 1;
    }

    .descriptionInfo {
        display: flex;
        text-align: center;
        width: 90%;
        justify-content: center;
        gap: 16%;
        font-size: 1rem;
        padding: 0;

    }

    .descriptionInfo .inlineBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 30px;



    }

    .quiz_redirection {
        order: 1;
        flex-basis: 31%;
    }
}



@media only screen and (max-width: 632px) {
    .today_info {
        order: 1;
        flex-basis: 100%;
        margin-bottom: 30px;
        height: 230px;
    }
    .descriptionInfo {
        transform: scale(0.9);
    }

    .days {
        order: 2;
        flex-basis: 30%;
    }


    .quiz_redirection {
        order: 3;
        margin-top: 30px;
        flex-basis: 100%;
    }

    .second-main {
        display: flex;
        flex-flow: row wrap;
        min-height: 100%;
    }

    .google-map {
        flex-basis: 100%;

    }

    .large-cities {
        flex-basis: 100%;

    }

    

    .cities {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

    }

    .text {
        flex-basis: 50%;

    }


    .img-degreee {
        flex-basis: 50%;
        margin-left: auto;
        align-items: center;
    }

    .item_left,
    
    .nav-search {
        width: 40%;
        order: -1;

    }

    .item_right {
        width: 0%;
    }

    

    div.navElements.center {
        min-width: 100%;
        margin-top: 10px;
    }

    .nav {
        display: flex;
        justify-content: space-around;
        gap: 20%;
    }

    .footer {
        margin-top: 350px;
    }

    .inputBox {
        width: 79vw;
        justify-content: center;
    }

    .search_button {
        min-width: 50px;
        width: 10vw;
    }

    .content {
        margin-top: -80px;
    }

    .footer p {
        font-size: 12px;
    }

    .footer-elements img {
        transform: scale(1.3);
    }
    
}