
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body{
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
}
.imageContainer{    
    height: 300px;
}

.gameImage{
    width: 100%;
    border-radius: 25px;
    height: 40vh;
    object-fit: cover;
}


.btnStyle{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 25px;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    top: 30px;
}